/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
@import url("https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&display=swap");
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.headline {
  font-family: "Yanone Kaffeesatz", sans-serif;
}
.main-headline {
  font-size: 34px;
}
.medium-headline {
  font-size: 28px;
}
.small-headline {
  font-size: 20px;
}
.w-100 {
  width: 100%;
}
.w-90 {
  width: 90%;
}
.w-70 {
  width: 70%;
}
.margin-center {
  margin: 0 auto;
}
.mt-20 {
  margin: 10px;
}
.mlr-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.flex-container {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-content: center;
}

.fixed-fab {
  position: fixed!important;
  right: 50px;
  top: 35px;
}
